.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.wrapper{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap

}
.wrapper_list{
    width: 48.31rem;
}


