.wrapper {
  display: flex;
}

.loader{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/*--------------992-----------------------*/
@media screen and (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap
  }
  
}