.header {
  width: 100%;
  height: 5.25rem;
  display: flex;
  background: #fff;
}
.container {
  width: 69.75rem;
  margin: 2rem auto;
  position: relative;
}

.a {
  color: #232134;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}
.active {
  color: #5e96fc;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}

.wrapper_logo {
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.ellipse_1 {
  position: relative;
  width: 2.43rem;
  height: 0.96rem;
  border-radius: 100%;
  background: #5e96fc;
  left: 0;
  top: 8px;
  transform: rotate(-134.78deg);
}

.ellipse_2 {
  position: relative;
  width: 2.43rem;
  height: 0.96rem;
  border-radius: 100%;
  background: #5e96fc;
  left: 0;
  top: -7px;
  transform: rotate(-44.78deg);
}

/*---------------768px----------------*/

@media screen and (max-width: 768px) {
  .wrapper_logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .header {
    height: 6.5rem;
  }

  .container {
    margin: 1rem auto;
  }
}
